<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codinggyd.mapper.LearnSiteMapper">
	<resultMap id="learnSites" type="com.codinggyd.bean.LearnSite">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="desc" property="desc" />
		<result column="updatetime" property="updatetime" />
		<result column="readingcount" property="readingcount" />
		<result column="url" property="url" />
	</resultMap>

	<select id="findLearnSite" resultMap="learnSites">
		SELECT id,title,descs,updatetime,readingcount,url FROM mine_articles
	</select>

</mapper>