<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
 <head th:include="v2/base/head ::common_header"></head>
 
<body>
	<link href="v2/css/life.css" rel="stylesheet"/>
		<script src="v2/js/life.js" ></script>
		 <script src="v2/js/canvas-nest.js"></script>
		 <script >
 document.title ='照片墙_记录值得记录的';
 </script>
    <script>
        var password="";
        password=prompt('请输入密码 (本相册需输入密码才可进入):','');
        if (password != 'lvqi')
        {
            alert("密码不正确,无法进入本站!!");
            window.opener=null; window.close();
        }
    </script>
<!--top begin-->
		<div th:include="v2/base/top :: top"></div>
<!--top end-->
<article> 
  <!--lbox begin-->
  <div >
      <audio class="bgmusic" controls="controls"   autoplay="autoplay">
          <source src="http://47.111.1.180/images/audio/bg_music.mp3" type="audio/mp3" />
      </audio>
    <div class="zhuanti  whitebg">
      <h2 class="htitle"><span class="hnav"></span>照片墙</h2>
       <section id="knowledge" class="viewBlock">
  <div class="bookBox"> <a class="lastBtn">上一张</a> <a class="nextBtn">下一张</a>
    <div class="bookPage frist"> <img src="v2/images/3.jpg" /> </div>
    <div class="bookPage runPage">
      <div class="bookWord"> <span>毕业</span> 那年. <span class="pageNumber">1</span> </div>
      <img src="v2/images/album_1.jpg" /> </div>
    <div class="bookPage runPage">
      <div class="bookWord"> <span>毕业</span> 那年. <span class="pageNumber">2</span> </div>
      <img src="v2/images/album_2.jpg" /> </div>
    <div class="bookPage runPage">
      <div class="bookWord"> <span>毕业</span> 那年. <span class="pageNumber">3</span> </div>
      <img src="v2/images/album_3.jpg" /> </div>

           <div class="bookPage runPage">
      <div class="bookWord"> <span>旅游</span>青海湖环湖360公里骑行 . <span class="pageNumber">4</span> </div>
      <img src="v2/images/album_4.jpg" /> </div>

               <div class="bookPage runPage">
      <div class="bookWord"> <span>旅游</span>青海湖环湖360公里骑行 . <span class="pageNumber">5</span> </div>
      <img src="v2/images/album_5.jpg" /> </div>

                 <div class="bookPage runPage">
      <div class="bookWord"> <span>旅游</span>青海湖环湖360公里骑行 . <span class="pageNumber">6</span> </div>
      <img src="v2/images/album_6.jpg" /> </div>

      <!-- lvqi -->
      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克 . <span class="pageNumber">7</span> </div>
          <img src="v2/images/lvqi/1.jpeg" /> </div>
      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克 . <span class="pageNumber">8</span> </div>
          <img src="v2/images/lvqi/lv2.jpeg" /> </div>
      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克 . <span class="pageNumber">9</span> </div>
          <img src="v2/images/lvqi/lv3.jpeg" /> </div>

      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克 . <span class="pageNumber">10</span> </div>
          <img src="v2/images/lvqi/lv4.jpeg" /> </div>

      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克 . <span class="pageNumber">11</span> </div>
          <img src="v2/images/lvqi/lv5.jpeg" /> </div>
      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克. <span class="pageNumber">12</span> </div>
          <img src="v2/images/lvqi/lv6.jpeg" /> </div>
      <div class="bookPage runPage">
          <div class="bookWord"> <span>小鲁班</span>这里是小鲁班的马赛克 . <span class="pageNumber">13</span> </div>
          <img src="v2/images/lvqi/lv7.jpeg" /> </div>


      <div class="bookPage runPage">
      <div class="bookWord"> <span></span>没有啦 . <span class="pageNumber">7</span> </div>
      <img src="v2/images/avatar.jpg" /> </div>
      
      
      
    <div class="bookPage last">
      <div class="bookWord"> <span>没有啦</span>.  <span class="pageNumber"></span> </div>
    </div>
    
  </div>
</section>
<!--效果html结束-->
    </div>
    
    <!--bloglist end--> 
  </div>
 
</article>
	<!--footer start-->
	<div th:replace="v2/base/bottom :: bottom"></div>
	<!--footer end-->
</body>
</html>
