<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
 <head th:include="v2/base/head ::common_header"></head>

<body>
<script src="v2/js/searchresult.js"></script>
 <script src="v2/js/canvas-nest.js"></script>

<!--top begin-->
		<div th:include="v2/base/top :: top"></div>
<!--top end-->
<article> 
  <!--lbox begin-->
  <div class="lbox">
    <div class="whitebg bloglist">
      <h2 id="search_ms" class="htitle" ></h2>
      <ul id="ul_search_dt">
      </ul>
    </div>
    
    <!--bloglist end--> 
  </div>
  <div class="rbox">
      	<div th:include="v2/base/article_type :: article_type"></div>
        <div  th:include="v2/base/click_rank :: click_rank" >
    </div>

    <div  th:include="v2/base/site_information :: site_information" >
    </div>
  </div>
</article>
	<!--footer start-->
	<div th:replace="v2/base/bottom :: bottom"></div>
	<!--footer end-->
</body>
</html>
