<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>小手一抖,天下我有</display-name>
	
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.gyd.main.servlet.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.gyd.main.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.gyd.main.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Record</servlet-name>
		<servlet-class>com.gyd.main.servlet.RecordServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Record</servlet-name>
		<url-pattern>/Record</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>