<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codinggyd.mapper.DataExportMapper">
  
	<!-- 通用数据导出 -->
	<select id="execSql" resultType="java.util.LinkedHashMap">
		SELECT * FROM (${script} ) TEMP LIMIT 100000
	</select>
	
</mapper>