 .card{
   animation: fade-in;  
    animation-duration: 2s;  
    -webkit-animation:fade-in 1.5s;   
    
 }
 
  .paihang{
  animation: fade-in;  
    animation-duration: 2s;  
    -webkit-animation:fade-in 1.5s;  
 }
 
 .tongji{
   animation: fade-in;  
    animation-duration: 2s;  
    -webkit-animation:fade-in 1.5s;  
 }
 @keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}  
 