<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codinggyd.mapper.ArticleMapper">
	<resultMap id="articles" type="com.codinggyd.bean.Article">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="descs" property="descs" />
		<result column="updatetime" property="updatetime" />
		<result column="readingcount" property="readingcount" />
		<result column="url" property="url" />
		<result column="type" property="type" />
	</resultMap>

	<select id="findArticle" resultMap="articles">
 		SELECT 	A.id,title,descs,A.updatetime,readingcount,url,type,B.ms typeName
 				FROM mine_articles A 
 				INNER JOIN mine_sysconst B 
 				ON A.type = B.dm AND B.lb = '100' 
 				<if test="type != null and type != ''">
 					AND B.dm = #{type}
 				</if>
				ORDER BY A.updatetime DESC
	</select>

	<select id="findDetailById" resultType="com.codinggyd.bean.Article">
		SELECT A.id,title,descs,A.updatetime,readingcount,url,type,B.ms typeName,htmlContent,content FROM mine_articles A
		INNER JOIN mine_sysconst B 
 				ON A.type = B.dm AND B.lb = '100' 
		WHERE A.id = #{id}
	</select>
	
		<select id="findLatestArticle" resultMap="articles">
 		SELECT 	A.id,title,descs,A.updatetime,readingcount,url,type,B.ms typeName
 				FROM mine_articles A 
 				INNER JOIN mine_sysconst B 
 				ON A.type = B.dm AND B.lb = '100' 
 				ORDER BY A.updatetime DESC
 				LIMIT #{top}
	</select>
	
	<select id="findRandomArticle" resultMap="articles">
 		SELECT 	A.id,title,descs,A.updatetime,readingcount,url,type,B.ms typeName
 				FROM mine_articles A 
 				INNER JOIN mine_sysconst B 
 				ON A.type = B.dm AND B.lb = '100' 
 				WHERE A.id IN(
 					<foreach collection="ids" item="id" separator=",">
 						#{id}
 					</foreach>
 				)
 				ORDER BY A.updatetime DESC
 				 
	</select>
</mapper>