<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="common_header">
		<meta charset="UTF-8" />
		<title>顺顺郭的地盘</title>
		<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{css/main.css}" rel="stylesheet" />
		<script th:src="@{js/ie-emulation-modes-warning.js}"></script>
		<script th:src="@{js/jquery-1.11.0.js}"></script>
		<script th:src="@{js/main.js}"></script>
	</div>
</body>
</html>
