<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/head ::common_header">
</head>
<body>

	<div th:fragment="top" class="header">
	 <!--header start-->
   		 <div id="header">
     		<h1>顺顺郭的博客</h1>
     		<p>定个小目标, 先挣一个亿~</p>    
    	 </div>
     <!--header end-->
		 <!--nav-->
     	<div id="nav">
	        <ul>
	         <li><a href="index">首页</a></li>
	           <li><a href="tarticle">编程随笔</a></li>
	         <li><a href="shuo">疯言疯语</a></li>
	         <!-- <li><a href="xc">旅游相册</a></li>  -->
	          <li><a href="about">关于我</a></li>
	         <li><a href="guestbook">留言板</a></li>
	         <div class="clear"></div>
	        </ul>
      </div>
	</div>

</body>
</html>
