<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/head ::common_header">
</head>
<body>

	<div th:fragment="top" class="header">
		<ul class="nav nav-pills pull-right" role="tablist">
			<li role="presentation" class="active" id="li-util-function"><a
				href="#" id="alink-util-function">工具函数</a></li>
			<li role="presentation" id="li-it-technology"><a href="#"
				id="alink-it-technology">IT学习</a></li>
		</ul>
		<h3 class="text-muted">定个小目标,先挣一个亿</h3>
	</div>

</body>
</html>
