<link rel="stylesheet" type="text/css" th:href="@{/easyui/1.3.4/themes/default/easyui.css}" href="/easyui/1.3.4/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/wu.css}" href="/css/wu.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icon.css}" href="/css/icon.css" />
<script th:src="@{../js/jquery-2.2.0.js}"></script>
<script type="text/javascript" th:src="@{../easyui/1.3.4/jquery.easyui.min.js}" src="../easyui/1.3.4/jquery.easyui.min.js"></script>
<script type="text/javascript" th:src="@{../easyui/1.3.4/locale/easyui-lang-zh_CN.js}" src="../easyui/1.3.4/locale/easyui-lang-zh_CN.js"></script>
 <link th:href="@{../editormd/css/editormd.min.css}" rel="stylesheet" type="text/css" />
     <script th:src="@{../editormd/editormd.min.js}"></script>
	<div class="easyui-layout" id="easyui-layout-article-update">
	
	   <div style="width:100%;padding:10px">
	   <input type="hidden" name="article_id" id="article_id"/>
	   	<input class="easyui-textbox" style="width:300px;height:25px" name="article_title" id="article_title" placeholder="文章标题"/> 
 	  	&nbsp;&nbsp;文章关键字：<input class="easyui-combobox" style="width:200px" id="article_keywords" name="article_keywords"
			data-options="url:'/sys/keyword/keywordlist2',
					method:'get',
					valueField:'id',
					textField:'name',
					multiple:true,
					panelHeight:'auto'"
			 /> 
	 	&nbsp;&nbsp;文章分类：<input class="easyui-combobox" id="article_type" name="article_type"
			data-options="url:'/sys/article/article_types',
					method:'get',
					valueField:'dm',
					textField:'ms',
					multiple:false,
					panelHeight:'auto'"
			 />	
			 	<a href="#" id="btn_submit" class="easyui-linkbutton">保存修改</a>
			 <br/>
	<div style="margin:20px;">
 	<input class="easyui-textbox" data-options="multiline:true"
 	 style="width:100%;height:100px" name="article_descs" id="article_descs" placeholder="文章描述"/> 
 	 </div>
 	 
	 <!-- 
	 
	<input class="easyui-textbox" style="width:200px;height:25px" name="article_title" id="article_title" placeholder="文章标题"/>
 	<input class="easyui-textbox" style="width:200px;height:25px" name="article_descs" id="article_descs" placeholder="文章描述"/>
	<select  id="article_type" style="width:150px"></select>	 -->
   	</div>
  
      <!-- editormd start -->
    <div class="editormd" id="test-editormd-update">
	    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" id="editormd"></textarea>
	    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
	    <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
	    <textarea class="editormd-html-textarea" name="editorhtml" id="editorhtml"></textarea>       
    </div>
    <!-- editormd end --> 
 </div>
      <script th:src="@{/js/article_update.js}"></script>
   