<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codinggyd.RookiePalmSpaceServer.mapper.SourceMapper">
 <!--配置一个resultMap 指定返回的类型 -->  
    <resultMap id="sourceList" type="com.codinggyd.RookiePalmSpaceServer.bean.SourceInfo">  
        <id column="id" property="id" />  
        <result column="name" property="name" />  
        <result column="type" property="type" />  
        <result column="time" property="time" />  
        <result column="location" property="location" />  
        <result column="remark" property="remark" />  
        <result column="url" property="url" />  
          <result column="userId" property="userId" />  
    </resultMap>  

	<select id="getNewId" resultType="java.lang.Integer">
		SELECT MAX(id) FROM SOURCEINFO
	</select>
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM SOURCEINFO
		<if test="#{type} != null">
			WHERE type=#{type}
		</if>
	</select>
	<delete id="deleteSingle">
		DELETE FROM SOURCEINFO WHERE ID =
		#{id}
	</delete>
	<select id="getAll" resultMap="sourceList">
		SELECT id,name,type,time,location,remark,url,userId FROM SOURCEINFO WHERE 1=1
		<if test="#{userId} != null">
			AND userId = #{userId}
		</if>
		<if test="type != null">
			AND type = #{type}
		</if>
		ORDER BY ID ASC
	</select>
	<insert id="addSource" keyColumn="id"
		parameterType="com.codinggyd.RookiePalmSpaceServer.bean.SourceInfo"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		SOURCEINFO(name,type,time,location,remark,url,userId)
		VALUES(#{sourceInfo.name},#{sourceInfo.type},#{sourceInfo.time},#{sourceInfo.location},#{sourceInfo.remark},#{sourceInfo.url},#{sourceInfo.userId})
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
</mapper>