<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codinggyd.mapper.DailyEssaysMapper">
  <resultMap id="dailyEssays" type="com.codinggyd.bean.DailEssays">
        <id column="id" property="id" />
        <result column="content" property="content" />
          <result column="updatetime" property="updatetime" />
    </resultMap>

	<select id="findDailyEssays" resultMap="dailyEssays">
		SELECT id,content,updatetime FROM mine_dailyessays
	</select>
	
	<select id="queryDailyEssays" resultType="com.codinggyd.bean.DailEssays">
		SELECT id,content,updatetime FROM mine_dailyessays WHERE id= #{id}
	</select>
	<update id="updateDailyEssays">
		UPDATE mine_dailyessays SET content = #{daily.content},updatetime = #{daily.updatetime}
		WHERE id= #{daily.id} 
	</update>
	 
	 <insert id="insertDailyEssays">
		INSERT INTO mine_dailyessays(content,updatetime) VALUES(#{daily.content},#{daily.updatetime})
	</insert>
</mapper>