<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body> 

<!--标签云 -->
	<div th:fragment="article_label">
	    <div class="whitebg cloud">
      <h2 class="htitle">标签云</h2>
      <ul>
        <a href="" target="_blank">javaee1</a> <a href="" target="_blank">linux</a> <a href="" target="_blank">redis</a> <a href="" target="_blank">jvm</a> <a href="" target="_blank">生活</a> <a href="" target="_blank">日记</a> <a href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a> <a href="" target="_blank">网页设计</a>
      </ul>
    </div>
	</div>
</body>
</html>
