<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body> 
	 <!--footer-->
	<div th:fragment="bottom">
	     <footer>
			  <div class="box">
			    <div class="wxbox">
			      <ul>
			         <li><img src="v2/images/wx.jpeg"/><span>我的微信</span></li>
			      </ul>
			    </div>
			    <div class="endnav">
			      <p><b>站点声明：</b></p>
			      <p>1、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=964781872@qq.com" target="_blank">964781872@qq.com</a></p>
			      <p>Copyright © <a href="/" target="_blank">www.gydblog.com</a> All Rights Reserved. 备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank">备案号: 湘ICP备17020097号-1</a></p>
			    </div>
			  </div>
			  <a href="#" title="回到首页">
			  <div class="up"></div>
			  </a> 
		  </footer>
	</div>
   	  <!--footer end-->

</body>
</html>
