<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body> 
<!-- 我的名片 -->
	<div th:fragment="business_card">
	   <div class="card">
      <h2>我的名片</h2>
      <p>网名：顺顺郭</p>
      <p>职业：JAVA后端开发工程师</p>
      <p>现居：浙江省-杭州市</p>
      <p>Email：964781872@qq.com</p>
      <ul class="linkmore">
        <li><a href="/" target="_blank" class="iconfont icon-zhuye" title="网站地址"></a></li>
        <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=964781872@qq.com" target="_blank" class="iconfont icon-youxiang" title="我的邮箱"></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=964781872&amp;site=qq&amp;menu=yes" target="_blank" class="iconfont icon---" title="QQ联系我"></a></li>
        <li id="weixin"><a href="#" target="_blank" class="iconfont icon-weixin" title="关注我的微信"></a><i><img src="v2/images/wx.jpg"/></i></li>
      </ul>
    </div>
	</div>
</body>
</html>
