<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="common_header">
		<meta charset="UTF-8" />
		<title>顺顺郭的领地</title>
		<base href="/"/>
 		<meta name="keywords" content="顺顺郭的领地,顺顺郭的lingd,blog" />
		<meta name="description" content="顺顺郭,blog" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="v2/css/base.css" rel="stylesheet"/>
		<link href="v2/css/m.css" rel="stylesheet"/>
			<link href="v2/css/top.css" rel="stylesheet"/>
		<link href="v2/css/anim.css" rel="stylesheet"/>
		<script src="v2/js/jquery-1.8.3.min.js" ></script>
		<script src="v2/js/comm.js"></script>
		<script src="v2/js/top.js"></script>
		<script src="v2/js/click_rank.js"></script>
		<script src="v2/js/article_type.js"></script>
		<script src="v2/js/site_information.js"></script>
		<script src="v2/js/labelcloud.js"></script>
		 
		<!-- [if lt IE 9]>
		<script src="js/modernizr.js"></script>
		<![endif] -->
		     
	</div>
</body>
</html>
