<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/head ::common_header"></head>

<body>
		<script th:src="@{js/index.js}"></script>
		<script th:src="@{js/jquery-jtemplates.js}"></script>
		<script th:src="@{js/jquery-jtemplates_uncompressed.js}"></script>
	
	<div class="Wrapper">
		
		<!--header start-->
		<a name="top"></a>
		<div th:replace="base/top :: top"></div>
		<!--header end-->

		<!--content start-->
		<div id="content">
			<!--left-->
			<div class="left" id="c_left">
				<div class="s_tuijian">
					<h2>
						文章<span>列表</span>
					</h2>
				</div>
			<div class="content_text">
			<input type="hidden" name="type_dm" id="type_dm" value=""/>
			<div id="result"></div>
			<!-- jquery template -->
			<textarea id="template"  class="template">
				{#foreach $T.data as record}  
			 	<div class="wz row">
					<div class="col-sm-12">
						<div class="thumbnail article_item">
							<h3>
								<a href="/article_dt/{$T.record.id}"  target="_blank">{$T.record.title}</a>
							</h3>
							<dl>
								<dd>
									<p class="dd_text_1"><span>{$T.record.descs}</span></p>
									<p class="dd_text_2">
										<span class="left author">顺顺</span>
										<span class="left sj">{$T.record.updatetime}</span> 
										<span class="left fl">分类:<a
											href="javascript:void(0);" onclick="showArticleListOfType({$T.record.type})"  title="{$T.record.typeName}">{$T.record.typeName}</a>
										</span>
										<span class="left yd">
								 			<a href="/article_dt/{$T.record.id}" target="_blank"
											title="阅读全文">阅读全文</a>
										</span>
										<div class="clear"></div>
										</p>
									</dd>
								<div class="clear"></div>
							</dl>
						</div>
						</div>
					</div>  
			 {#/for}  
			
		    </textarea>
			<!-- jquery template end -->
				<!-- 分页 -->
				<nav aria-label="Page navigation" style="text-align: right;padding-right:25px">
					<ul class="pagination pagination-sm" id="pageUl"></ul>
				</nav>
			</div>
		</div>
		<!--left end-->
		<!--right-->
		<div class="right" id="c_right">
		  <div class="s_about" >
				<h2>分类</h2>
				<br />
				<p>
				<div id="resultTypeList"></div>
			 	</p>
			 	<br />
			</div> 
			<!-- jquery template -->
			<textarea id="templateType" class="template">
					{#foreach $T.data as record}  
					&nbsp;&nbsp;<a href="javascript:void(0);" onclick="showArticleListOfType({$T.record.dm})">{$T.record.ms}</a>&nbsp;&nbsp; 
			 		{#/for}  
		   	</textarea>
		   	<!-- jquery template end-->
		   	
			<!--栏目分类-->
		    <!-- 最新文章 template  -->
			<div class="lanmubox">
			   <h2>最新文章</h2>
			   <br />
			   <div class="bd">
					<ul id="latest-articles-ul"></ul>
					<textarea id="templateLatestArticles" class="template" style="display:none;">
							{#foreach $T.data as record}  
								<li><a href="/article_dt/{$T.record.id}"  target="_blank">{$T.record.title}</a></li>
			 				{#/for}  
		  		 	</textarea>
		  		 	</div>
			</div>
			<!-- 最新文章 template  end-->
			
			<!-- 随机文章 template  -->
			 <div class="lanmubox bd">
					 <h2>随机文章</h2>		
					  <br />		
					  <div class="bd">	
					<ul id="random-articles-ul"></ul>
					<textarea id="templateRandomArticles" class="template" style="display:none;">
							{#foreach $T.data as record}  
								<li><a href="/article_dt/{$T.record.id}"  target="_blank">{$T.record.title}</a></li>
			 				{#/for}  
		  		 	</textarea>
		  		 	</div>
				
			</div>
			
			<!-- 随机文章 template  end-->
			
			<!-- 精心推荐 template  -->
			<div class="lanmubox">
					 <h2>精心推荐</h2>		
					 <br />	
					  <div class="bd">	
					<ul id="tuij-articles-ul"></ul>
					<textarea id="templateTuijArticles" class="template" style="display:none;">
							{#foreach $T.data as record}  
								<li><a href="/article_dt/{$T.record.id}"  target="_blank">{$T.record.title}</a></li>
			 				{#/for}  
		  		 	</textarea>
		  		 	</div>
			</div>
			<!-- 精心推荐 template  end-->
			
			<!--end-->
			<div class="link">
				<h2>友情链接</h2>
				<p>
					<a href="http://www.baidu.com" target="_blank">度娘</a> &nbsp;&nbsp; &nbsp;&nbsp;
					<a href="http://www.baidu.com" target="_blank">你大爷家</a><br/>
					<a href="http://www.baidu.com" target="_blank">丈母娘家</a>&nbsp;&nbsp;
					<a href="http://www.baidu.com" target="_blank">七大姑八大姨家</a>
				</p>
			</div>
		</div>
		<!--right end-->
		<div class="clear"></div>
	</div>
	<!--content end-->
	
 	</div>	
	<!--footer start-->
	<div th:replace="base/bottom :: bottom"></div>
	<!--footer end-->
	 <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script> 
</body>
</html>
