<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/head ::common_header"></head>

<body>
		<script th:src="@{js/index.js}"></script>
		<script th:src="@{js/jquery-jtemplates.js}"></script>
		<script th:src="@{js/jquery-jtemplates_uncompressed.js}"></script>
	<!--header start-->
	<a name="top"></a>
	<div th:replace="base/top :: top"></div>
	<!--header end-->

	<!--content start-->
	<div id="content">
		<!--left-->
		<div class="left" id="c_left">
			<div class="s_tuijian">
				<h2>
					博文<span>列表</span>
				</h2>
			</div>
			<div class="content_text">
			<div id="result"></div>
		<!-- jquery template -->
		<textarea id="template"  class="template">
			{#foreach $T.data as record}  
			 	<div class="wz row">
					<div class="col-sm-12">
						<div class="thumbnail article_item">
							<h3>{$T.record.id}
								<a href="#" th:title="呵呵额呵呵呵">{$T.record.title}</a>
							</h3>
							<dl>
								<dd>
									<p class="dd_text_1"><span>{$T.record.content}</span></p>
									<p class="dd_text_2">
										<span class="left author">顺顺</span>
										<span class="left sj">{$T.record.updatetime}</span> 
										<span class="left fl">分类:<a
											href="#" title="学无止境">学无止境</a>
										</span>
										<span class="left yd">
								 			<a href="/detail" target='_blank'
										
											title="阅读全文">阅读全文</a>
										</span>
										<div class="clear"></div>
										</p>
									</dd>
								<div class="clear"></div>
							</dl>
						</div>
						</div>
					</div>  
			 {#/for}  
			
		    </textarea>
				<!--item-->
			<!-- 	<div class="wz row" th:each="obj, objStat: ${articleList}">
					<div class="col-sm-12">
						<div class="thumbnail article_item">
							<h3>
								<a href="#" th:title="呵呵额呵呵呵" th:text="${obj.title}"></a>
							</h3>
							<dl>
								<dd>
									<p class="dd_text_1" th:text="${obj.content}" />
									<p class="dd_text_2">
										<span class="left author">顺顺</span><span class="left sj"
											th:text="${obj.updatetime}"></span> <span class="left fl">分类:<a
											href="#" title="学无止境">学无止境</a></span><span class="left yd"> <a
											href="/detail" target='_blank'
											th:href="@{/detail?content={content}(content=${obj.content})}"
											title="阅读全文">阅读全文</a>
										</span>
									<div class="clear"></div>
									</p>
								</dd>
								<div class="clear"></div>
							</dl>
						</div>
					</div>
				</div> -->
				<!--item end-->
			
				<!-- 分页 -->
				<nav aria-label="Page navigation" style="text-align: right;padding-right:25px">
					<ul class="pagination pagination-sm" id="pageUl"></ul>
				</nav>
<!-- 				<nav aria-label="Page navigation" style="text-align: right;">
					<ul class="pagination pagination-sm">
						<li><a href="#" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"> <span
								aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav> -->
			</div>
		</div>
		<!--left end-->
		<!--right-->
		<div class="right" id="c_right">
			<div class="s_about">
				<h2>分类</h2>
				<br />
				<p>
					<a href="#">spring</a>&nbsp;&nbsp;&nbsp; <a href="#">mybatis</a>&nbsp;&nbsp;
				</p>
				<br />
				<p>
					<a href="#">linux</a>&nbsp;&nbsp;<a href="#">phantomjs</a>&nbsp;&nbsp;
				</p>
				<br />
				<p>
					<a href="#">java</a>&nbsp;&nbsp;<a href="#">nginx</a>&nbsp;&nbsp;
				</p>
			</div>
			<!--栏目分类-->
			<div class="lanmubox">
				<div class="hd">
					<ul>
						<li>精心推荐</li>
						<li>最新文章</li>
						<li class="hd_3">随机文章</li>
					</ul>
				</div>
				<div class="bd">
					<ul>
						<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
						<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
						<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
						<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
						<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
					</ul>
					<ul>
						<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
						<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
						<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
						<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
						<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
					</ul>
					<ul>
						<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
						<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
						<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
						<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
						<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
					</ul>


				</div>
			</div>
			<!--end-->
			<div class="link">
				<h2>友情链接</h2>
				<p>
					<a href="http://www.baidu.com" target="_blank">度娘</a>
				</p>
			</div>
				<a href="#top">返回顶部</a>
		</div>
		<!--right end-->
		<div class="clear"></div>
	</div>
	<!--content end-->
	<!--footer start-->
	<div th:replace="base/bottom :: bottom"></div>
	<!--footer end-->
	<script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
</body>
</html>
