<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/head ::common_header">
</head>
<body>
	<div th:fragment="div-it-technology" id="div-it-technology"
		style="display: none;">
		<div class="it-technology-list-group"></div>
		<!-- ·ÖÒ³ -->
		<nav aria-label="Page navigation" style="text-align: right;">
		  <ul class="pagination pagination-sm">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</body>
</html>
