<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="base/head ::common_header"></head>

<body>
 	<div class="Wrapper">
    <!--header start-->
     <div th:replace="base/top :: top"></div>
     <!--header end-->
    <!--content start-->
    <div id="content">
 
          <ul class="say_box">
                     <div class="sy">
                         <p> 那个可以任意挥霍的年纪，人们叫它'青春'。</p>
                     </div>
                  <span class="dateview">2017-8-27</span>
          </ul>
          <ul class="say_box">
                     <div class="sy">
                         <p> 过去就像回形针，把青春一页页的固定，然后变成了一本不被出版的书。</p>
                     </div>
                  <span class="dateview">2017-8-27</span>
          </ul>
          <ul class="say_box">
                     <div class="sy">
                         <p> 时间好象一把尺子，它能衡量奋斗者前进的进程。
                         时间如同一架天平，它能称量奋斗者成果的重量；
                         时间就像一把皮鞭，它能鞭策我们追赶人生的目标。时间犹如一面战鼓，它能激励我们加快前进的脚步。</p>
                     </div>
                  <span class="dateview">2017-8-27</span>
          </ul>
          <ul class="say_box">
                     <div class="sy">
                         <p>青春，一半明媚，一半忧伤。
                         它是一本惊天地泣鬼神的着作，而我们却读的太匆忙。
                         于不经意间，青春的书籍悄然合上，以至于我们要重新研读它时，
                         却发现青春的字迹早已落满尘埃，模糊不清。</p>
                     </div>
                  <span class="dateview">2017-8-27</span>
          </ul>
     </div>
    <!--content end-->
    </div>
    <!--footer start-->
  	 <div th:replace="base/bottom :: bottom"></div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
</html>
